@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;500;700;900&display=swap');

:root {
  --white: #fafafa;
  --grey: rgb(240, 240, 240);
  --dark-grey: #c8c8c8;
  --black: rgb(30, 30, 30);
  --gold: #ffbb00;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

* {
  font-family: Nunito;
} 

html {
  -webkit-tap-highlight-color:transparent;

  color: var(--black);

}

.tc {
  text-align: center;
}

body {
  margin: 0;

  background-color: var(--white);
}

#app {
  height: inherit;

}

p {
  margin: 0;
  font-size: .8em;
}

.progress {
  animation: progress-anim 1s ease;
}
@keyframes progress-anim {
  from { width: 0}
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  color: rgb(200, 200, 200);
  height: 60px;
  width: 100%;
  bottom: 0;
  background-color: var(--white);

}

.primary {
  background-color: rgb(161, 51, 225);
  color: white;
  border-radius: 5px;
}

.secondary {
 
  color:rgb(161, 51, 225);
  border-radius: 5px;
  border: 3px solid rgb(161, 51, 225);
}

#navbar::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05)
}


#navbar> * {
  font-size: 1.2em;


}

.content {
  gap: 16px;
  padding: 16px;
  display: grid;
  grid-template-columns: minmax(0,1fr);

}



.card {
  background-color: var(--white);
  position: relative;
  padding: 16px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.chart-period {
  display: flex;
  justify-content: space-evenly;
  /* background-color: var(--grey);
  padding: 8px;
  border-radius: 10px; */

}

.chart-period > * {
  display: grid;
  place-items: center;
  cursor: pointer;
  width: 25px;
  text-align: center;
  height: 25px;
  border-radius: 100%;
  font-size: .6em;
}

.chart-period > *.selected {
  display: grid;
  place-items: center;
  background-color: var(--black);
  color: white;
  width: 25px;
  text-align: center;
  height: 25px;
  border-radius: 100%;
  font-size: .6em;
}



.chart-header {
  align-self: center;
  text-align: center;
  font-weight: 200px;
}

.chart-header > h4 {
  align-self: center;
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
}

#chart {
  gap: 8px;
}

.row {
  display: flex;
  gap: 16px;

}

.column {
  display: flex;
  gap: 16px;
  flex-direction: column;
  margin-top: 16px;
}

.content .row > * {
  flex: 1;
}



.selected {
  color: var(--black)
}

.card::before {

  border-radius: 10px;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05)
}
.loading {
  display: grid;
  place-content: center;
  height: 200px;

}

.progress-group {
  width: 100%;
  padding: 0;
  display: flex;
  place-items: center;
  gap: 16px;

}

.progress {
  background-color: rgb(171, 119, 244);
  width: 60%;
  height: 10px;
  border-radius: 5px;

}

.gold {
  color: var(--gold);
}

.card-icon {
  position: absolute;
  right: 16px;
  top: 16px;
  color: var(--gold)
}

.chart-header {
  color: var(--black)
}

.red {
  color: rgb(227, 77, 99)
}

h4 {
  align-self: center;
  font-size: 2em;
  margin: 0;
  font-weight: 700;
  color: var(--black);
}

h5 {
  font-size: 1em;
  font-weight: 500;
  margin: 0;
  align-self: center;
}

.card-list {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.loader {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.green {
  color: #38d070;
}

.grey {
  color: var(--grey)
}

.dark-grey {
  color: var(--dark-grey)
}

.blue {
  color: #48a7da;
}

a {
  color: var(--dark-grey)
}

.progress-bar {
  height: 10px;
  flex: 1;
  background-color: var(--grey);
  border-radius: 5px;
  position: relative;
}